* {

    font-family: 'Nunito Sans', sans-serif;
}

body {
    width: 80%;
    margin: 0 auto;
}

/*Header*/

h1 {
    margin: 24px 0;
}

.container {
    border: 2px solid black;
    margin: 10px auto;
}

/*Colors*/

h2 {
    margin: 30px 10px;

}

.color {
    display: inline-block;
    width: 30%;
    height: 80px;
    margin: 20px 10px;
}

.cool-blue {
    background-color: #2d5dcc;
    color: white;
}

.pink {
    background-color: #d957d9;
}

.mint-green {
    background-color: #4fe0b0;
}

.beige {
    background-color: #efd9ca;
}

.color p {
    text-align: center;
    margin: 12px;
    font-size: 18px;
}

/*Fonts*/

.font {
    display: inline-block;
    width: 40%;
    margin: 20px 10px;
}

.font p {
    line-height: 30px;
}

.font-label {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.source-code-pro p {
    font-family: 'Source Code Pro';
}

.poppins p {
    font-family: Poppins;
}

/*Text Styles*/

.head1 h1 {
    font-weight: 700;
    font-size: 26px;
    margin: 30px 10px;
}

.head2 h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins';
    margin: 30px 10px;
}

.paragraph p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins';
    margin: 30px 10px;
}

.list {
    margin-top: 30px;
    margin-left: 20px;
}