* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: 0 auto;
}

/*Header*/

h1 {
    margin: 24px 0;
}

.container {
    border: 2px solid black;
    margin: 10px auto;
}

/*Colors*/

h2 {
    margin: 30px 10px;

}

.color {
    display: inline-block;
    width: 30%;
    height: 80px;
    margin: 20px 10px;
}

.cool-blue {
    background-color: #2d5dcc;
    color: white;
}

.pink {
    background-color: #d957d9;
}

.mint-green {
    background-color: #4fe0b0;
}

.beige {
    background-color: #efd9ca;
}

.color p {
    text-align: center;
    margin: 12px;
    font-size: 18px;
    font-weight: bold;
}

/*Fonts*/

.font {
    display: inline-block;
    width: 40%;
    margin: 20px 10px;
}

/*Text Styles*/

